future == 0.17.1
aff4-snappy == 0.5.1
rdflib>=6.1.1
intervaltree == 2.1.0
pyyaml == 5.1
tzlocal == 2.1
html5lib == 1.0.1
python-dateutil == 2.8.0
hexdump
pynacl
pycryptodome
pycryptoplus
aes-keywrap
passlib
cryptography
expiringdict
lz4
